bolean sclicing

In [3]:
import pandas as pd

In [4]:
data=pd.read_csv('parcours_explorateurs.csv')
data

   noeud_amont noeud_aval type_aretes   distance  arete_id
0    sommet_15  sommet_95      chemin  16.980936   arete_6
1    sommet_45  sommet_38      chemin  11.317052  arete_25
2    sommet_28  sommet_72     arrivee   2.690543  arete_85
3     sommet_2  sommet_65      chemin  14.328168   arete_7
4    sommet_98  sommet_18      chemin  13.542829  arete_26
..         ...        ...         ...        ...       ...
85   sommet_21  sommet_29      chemin   5.556694  arete_64
86   sommet_70  sommet_15      chemin   8.202683  arete_40
87   sommet_13  sommet_75      chemin  13.359543  arete_19
88    sommet_0   sommet_4      chemin  19.516010  arete_37
89   sommet_95   sommet_8      chemin   2.744767  arete_57

[90 rows x 5 columns]

In [28]:
depart=list(data[data['type_aretes']=='depart']['noeud_amont'])
depart

['sommet_33',
 'sommet_59',
 'sommet_91',
 'sommet_56',
 'sommet_50',
 'sommet_14',
 'sommet_31',
 'sommet_34',
 'sommet_36',
 'sommet_84']

In [27]:
data[data['type_aretes']=='depart']

   noeud_amont noeud_aval type_aretes   distance  arete_id
6    sommet_33  sommet_90      depart   5.918739  arete_58
23   sommet_59  sommet_49      depart   3.603723  arete_45
26   sommet_91  sommet_77      depart   9.974770  arete_87
27   sommet_56  sommet_39      depart  15.667381  arete_34
28   sommet_50  sommet_96      depart   1.354516  arete_49
34   sommet_14  sommet_58      depart   9.293978  arete_74
37   sommet_31  sommet_24      depart  18.017266   arete_2
41   sommet_34  sommet_17      depart   9.256666  arete_14
44   sommet_36  sommet_82      depart  17.711005  arete_80
68   sommet_84  sommet_81      depart  13.568922   arete_5

In [24]:
arrive=list(data[data['type_aretes']=='arrivee']['noeud_aval'])
arrive

['sommet_72',
 'sommet_88',
 'sommet_6',
 'sommet_25',
 'sommet_64',
 'sommet_9',
 'sommet_66',
 'sommet_99',
 'sommet_19',
 'sommet_74']

In [267]:
explorateur={}
j=1
for i in depart:
    explorateur['exp'+str(j)]=[i]
    j+=1
explorateur

{'exp1': ['sommet_33'],
 'exp2': ['sommet_59'],
 'exp3': ['sommet_91'],
 'exp4': ['sommet_56'],
 'exp5': ['sommet_50'],
 'exp6': ['sommet_14'],
 'exp7': ['sommet_31'],
 'exp8': ['sommet_34'],
 'exp9': ['sommet_36'],
 'exp10': ['sommet_84']}

In [263]:
j=1
for i in depart:
    for c in depart:
        result=explorateur['exp'+str(j)][-1]
        resulta = data[data['noeud_amont'] == result]['noeud_aval']
        res=resulta.values
        explorateur['exp'+str(j)].append(res)
    j+=1

ValueError: ('Lengths must match to compare', (90,), (0,))

In [268]:
explorateur

{'exp1': ['sommet_33'],
 'exp2': ['sommet_59'],
 'exp3': ['sommet_91'],
 'exp4': ['sommet_56'],
 'exp5': ['sommet_50'],
 'exp6': ['sommet_14'],
 'exp7': ['sommet_31'],
 'exp8': ['sommet_34'],
 'exp9': ['sommet_36'],
 'exp10': ['sommet_84']}

In [269]:
result = data[data['noeud_amont'] == 'sommet_15']
result

  noeud_amont noeud_aval type_aretes   distance arete_id
0   sommet_15  sommet_95      chemin  16.980936  arete_6

In [270]:
result = data[data['noeud_amont'] == explorateur['exp'+str(1)][-1]]

In [271]:
result=explorateur['exp'+str(1)][-1]

In [272]:
explorateur

{'exp1': ['sommet_33'],
 'exp2': ['sommet_59'],
 'exp3': ['sommet_91'],
 'exp4': ['sommet_56'],
 'exp5': ['sommet_50'],
 'exp6': ['sommet_14'],
 'exp7': ['sommet_31'],
 'exp8': ['sommet_34'],
 'exp9': ['sommet_36'],
 'exp10': ['sommet_84']}

resulta = data[data['noeud_amont'] == result]['noeud_aval']