bolean sclicing

In [3]:
import pandas as pd

In [660]:
data=pd.read_csv('parcours_explorateurs.csv')
data

   noeud_amont noeud_aval type_aretes   distance  arete_id
0    sommet_15  sommet_95      chemin  16.980936   arete_6
1    sommet_45  sommet_38      chemin  11.317052  arete_25
2    sommet_28  sommet_72     arrivee   2.690543  arete_85
3     sommet_2  sommet_65      chemin  14.328168   arete_7
4    sommet_98  sommet_18      chemin  13.542829  arete_26
..         ...        ...         ...        ...       ...
85   sommet_21  sommet_29      chemin   5.556694  arete_64
86   sommet_70  sommet_15      chemin   8.202683  arete_40
87   sommet_13  sommet_75      chemin  13.359543  arete_19
88    sommet_0   sommet_4      chemin  19.516010  arete_37
89   sommet_95   sommet_8      chemin   2.744767  arete_57

[90 rows x 5 columns]

In [694]:
depart=list(data[data['type_aretes']=='depart']['noeud_amont'])

In [702]:
explorateur = {'exp' + str(i + 1): [value] for i, value in enumerate(depart)}
distance = {'exp' + str(i + 1): [] for i, value in enumerate(depart)}
distance

{'exp1': [],
 'exp2': [],
 'exp3': [],
 'exp4': [],
 'exp5': [],
 'exp6': [],
 'exp7': [],
 'exp8': [],
 'exp9': [],
 'exp10': []}

In [704]:
for i in range(len(depart) - 1):
    for j in range(10):
        result = explorateur['exp' + str(j + 1)][-1]
        
        resulta_values = data.loc[data['noeud_amont'] == str(result), 'noeud_aval'].tolist()
        resulta_distance = data.loc[data['noeud_amont'] == str(result), 'distance'].tolist()
        
        distance['exp' + str(j + 1)].extend(resulta_distance)
        explorateur['exp' + str(j + 1)].extend(resulta_values)

In [705]:
dis=[]
for key in distance.keys():
    distance[key]=sum(distance[key])

In [713]:
distance

{'exp1': 75.62130979483581,
 'exp2': 109.65932954530045,
 'exp3': 105.19195916462449,
 'exp4': 95.57865019271557,
 'exp5': 95.12139273293155,
 'exp6': 68.59583779316146,
 'exp7': 104.5455160292075,
 'exp8': 115.88698715673728,
 'exp9': 90.9479319754383,
 'exp10': 104.32791446132912}