In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('reseau_en_arbre.csv')

In [3]:
df

     id_batiment  nb_maisons infra_id             infra_type   longueur
0        E000001           4  P007111      fourreau_existant  12.314461
1        E000001           4  P007983      fourreau_existant  40.320929
2        E000001           4  P000308      fourreau_existant  39.140799
3        E000001           4  P007819      fourreau_existant  17.390464
4        E000002           1  P007111      fourreau_existant  12.314461
...          ...         ...      ...                    ...        ...
6102     E000381           1  P008032  fourreau_non_existant  10.520975
6103     E000381           1  P008035  fourreau_non_existant  11.719759
6104     E000381           1  P004234  fourreau_non_existant  13.484903
6105     E000381           1  P008036  fourreau_non_existant   7.441760
6106     E000381           1  P007459  fourreau_non_existant   9.865358

[6107 rows x 5 columns]

In [8]:
infra_type=df['infra_type'].drop_duplicates()
intra_type

0         fourreau_existant
10    fourreau_non_existant
Name: infra_type, dtype: object

In [11]:
nb_maisons=df['nb_maisons'].drop_duplicates()
nb_maisons

0       4
4       1
3617    3
Name: nb_maisons, dtype: int64

In [9]:
df.describe()

        nb_maisons     longueur
count  6107.000000  6107.000000
mean      1.016211    29.314081
std       0.203714    21.681575
min       1.000000     0.372684
25%       1.000000     8.476727
50%       1.000000    27.771443
75%       1.000000    49.956115
max       4.000000    76.985593