In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('reseau_en_arbre.csv')
df

     id_batiment  nb_maisons infra_id     infra_type   longueur
0        E000001           4  P007111  infra_intacte  12.314461
1        E000001           4  P007983  infra_intacte  40.320929
2        E000001           4  P000308  infra_intacte  39.140799
3        E000001           4  P007819  infra_intacte  17.390464
4        E000002           1  P007111  infra_intacte  12.314461
...          ...         ...      ...            ...        ...
6102     E000381           1  P008032    a_remplacer  10.520975
6103     E000381           1  P008035    a_remplacer  11.719759
6104     E000381           1  P004234    a_remplacer  13.484903
6105     E000381           1  P008036    a_remplacer   7.441760
6106     E000381           1  P007459    a_remplacer   9.865358

[6107 rows x 5 columns]

In [4]:
df.describe()

        nb_maisons     longueur
count  6107.000000  6107.000000
mean      1.016211    29.314081
std       0.203714    21.681575
min       1.000000     0.372684
25%       1.000000     8.476727
50%       1.000000    27.771443
75%       1.000000    49.956115
max       4.000000    76.985593

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6107 entries, 0 to 6106
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_batiment  6107 non-null   object
 1   nb_maisons   6107 non-null   int64
 2   infra_id     6107 non-null   object
 3   infra_type   6107 non-null   object
 4   longueur     6107 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 238.7+ KB

In [6]:
non_existant_infra = df.loc[df['infra_type'] == 'a_remplacer']
non_existant_infra

     id_batiment  nb_maisons infra_id   infra_type   longueur
10       E000003           1  P007113  a_remplacer  12.193509
11       E000003           1  P007984  a_remplacer  30.057598
12       E000003           1  P007823  a_remplacer  12.290283
465      E000067           1  P006193  a_remplacer  12.186388
466      E000067           1  P002851  a_remplacer  10.803202
...          ...         ...      ...          ...        ...
6102     E000381           1  P008032  a_remplacer  10.520975
6103     E000381           1  P008035  a_remplacer  11.719759
6104     E000381           1  P004234  a_remplacer  13.484903
6105     E000381           1  P008036  a_remplacer   7.441760
6106     E000381           1  P007459  a_remplacer   9.865358

[577 rows x 5 columns]

In [8]:
diff_infra = non_existant_infra.groupby(['infra_id', 'longueur'])['nb_maisons'].agg('sum').reset_index()
diff_infra['difficule_infra'] = diff_infra['longueur'] / diff_infra['nb_maisons']

diff_infra

    infra_id   longueur  nb_maisons  difficule_infra
0    P000462   3.694776           3         1.231592
1    P000464   4.858753           4         1.214688
2    P000470   2.572249           6         0.428708
3    P000476   4.084845           8         0.510606
4    P000494   4.840070          19         0.254741
..       ...        ...         ...              ...
192  P008032  10.520975           7         1.502996
193  P008033  30.536827           8         3.817103
194  P008034  10.009903           1        10.009903
195  P008035  11.719759           4         2.929940
196  P008036   7.441760           1         7.441760

[197 rows x 4 columns]

In [9]:
resultat_jointure = pd.merge(diff_infra, non_existant_infra[['infra_id','id_batiment']], how='left', on='infra_id')
resultat_jointure

    infra_id   longueur  nb_maisons  difficule_infra id_batiment
0    P000462   3.694776           3         1.231592     E000363
1    P000462   3.694776           3         1.231592     E000370
2    P000462   3.694776           3         1.231592     E000371
3    P000464   4.858753           4         1.214688     E000358
4    P000464   4.858753           4         1.214688     E000363
..       ...        ...         ...              ...         ...
572  P008035  11.719759           4         2.929940     E000377
573  P008035  11.719759           4         2.929940     E000378
574  P008035  11.719759           4         2.929940     E000380
575  P008035  11.719759           4         2.929940     E000381
576  P008036   7.441760           1         7.441760     E000381

[577 rows x 5 columns]

In [10]:
diff_bati = resultat_jointure.groupby(['id_batiment'])['difficule_infra'].agg('sum').reset_index()
diff_bati = diff_bati.rename(columns={'difficule_infra': 'difficulte_batiment'})
diff_bati = diff_bati.sort_values(by=['difficulte_batiment'])

plan_list = []

diff_infra

    infra_id   longueur  nb_maisons  difficule_infra
0    P000462   3.694776           3         1.231592
1    P000464   4.858753           4         1.214688
2    P000470   2.572249           6         0.428708
3    P000476   4.084845           8         0.510606
4    P000494   4.840070          19         0.254741
..       ...        ...         ...              ...
192  P008032  10.520975           7         1.502996
193  P008033  30.536827           8         3.817103
194  P008034  10.009903           1        10.009903
195  P008035  11.719759           4         2.929940
196  P008036   7.441760           1         7.441760

[197 rows x 4 columns]

In [11]:

diff_bati = diff_bati.sort_values(by=['difficulte_batiment'])
diff_bati

   id_batiment  difficulte_batiment
42     E000258             1.843508
43     E000259             1.843508
35     E000225             1.843508
31     E000196             1.843508
30     E000195             1.843508
..         ...                  ...
8      E000110            50.483821
22     E000177            52.746831
13     E000129            53.739723
28     E000193            53.861295
0      E000003            54.541389

[85 rows x 2 columns]

In [12]:
while not diff_bati.empty:
    

    plan_list.append(diff_bati.iloc[0, 0])
    current_id_batiment = diff_bati.iloc[0, 0]

    diff_bati = diff_bati[diff_bati['id_batiment'] != current_id_batiment]
    non_existant_infra = non_existant_infra[non_existant_infra['id_batiment'] != current_id_batiment]


    
    diff_infra = non_existant_infra.groupby(['infra_id', 'longueur'])['nb_maisons'].agg('sum').reset_index()
    diff_infra['difficule_infra'] = diff_infra['longueur'] / diff_infra['nb_maisons']

    resultat_jointure = resultat_jointure[resultat_jointure['id_batiment'] != current_id_batiment]
    resultat_jointure = pd.merge(diff_infra, non_existant_infra[['infra_id', 'id_batiment']], how='left', on='infra_id')

    diff_bati = resultat_jointure.groupby(['id_batiment'])['difficule_infra'].agg('sum').reset_index()
    diff_bati = diff_bati.rename(columns={'difficule_infra': 'difficulte_batiment'})
    diff_bati = diff_bati.sort_values(by=['difficulte_batiment'])

In [14]:
plan_list