In [127]:
import pandas as pd

In [356]:
df=pd.read_csv('reseau_en_arbre.csv')
df

     id_batiment  nb_maisons infra_id             infra_type   longueur
0        E000001           4  P007111      fourreau_existant  12.314461
1        E000001           4  P007983      fourreau_existant  40.320929
2        E000001           4  P000308      fourreau_existant  39.140799
3        E000001           4  P007819      fourreau_existant  17.390464
4        E000002           1  P007111      fourreau_existant  12.314461
...          ...         ...      ...                    ...        ...
6102     E000381           1  P008032  fourreau_non_existant  10.520975
6103     E000381           1  P008035  fourreau_non_existant  11.719759
6104     E000381           1  P004234  fourreau_non_existant  13.484903
6105     E000381           1  P008036  fourreau_non_existant   7.441760
6106     E000381           1  P007459  fourreau_non_existant   9.865358

[6107 rows x 5 columns]

In [348]:
df.describe()

        nb_maisons     longueur
count  6107.000000  6107.000000
mean      1.016211    29.314081
std       0.203714    21.681575
min       1.000000     0.372684
25%       1.000000     8.476727
50%       1.000000    27.771443
75%       1.000000    49.956115
max       4.000000    76.985593

In [349]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6107 entries, 0 to 6106
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_batiment  6107 non-null   object
 1   nb_maisons   6107 non-null   int64
 2   infra_id     6107 non-null   object
 3   infra_type   6107 non-null   object
 4   longueur     6107 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 238.7+ KB

In [245]:
non_existant_infra = df.loc[df['infra_type'] == 'fourreau_non_existant']
non_existant_infra

     id_batiment  nb_maisons infra_id             infra_type   longueur
10       E000003           1  P007113  fourreau_non_existant  12.193509
11       E000003           1  P007984  fourreau_non_existant  30.057598
12       E000003           1  P007823  fourreau_non_existant  12.290283
465      E000067           1  P006193  fourreau_non_existant  12.186388
466      E000067           1  P002851  fourreau_non_existant  10.803202
...          ...         ...      ...                    ...        ...
6102     E000381           1  P008032  fourreau_non_existant  10.520975
6103     E000381           1  P008035  fourreau_non_existant  11.719759
6104     E000381           1  P004234  fourreau_non_existant  13.484903
6105     E000381           1  P008036  fourreau_non_existant   7.441760
6106     E000381           1  P007459  fourreau_non_existant   9.865358

[577 rows x 5 columns]

In [140]:
nouveau_dataframe_unique = resultat_filtre.drop_duplicates()
nouveau_dataframe_unique = nouveau_dataframe_unique.reset_index(drop=True)

In [141]:
nouveau_dataframe_unique

0      0.021342
1      0.069880
2      0.067835
3      0.030139
4      0.018916
         ...
638    0.019003
639    0.010090
640    0.016969
641    0.012897
642    0.017098
Name: longueur, Length: 643, dtype: float64

In [317]:
non_existant_infra.loc[df['infra_id']=='P007113', 'infra_id'].count()

1

In [318]:
non_existant_infra.loc[non_existant_infra['infra_id']=='P000494']

     id_batiment  nb_maisons infra_id             infra_type  longueur
1827     E000178           1  P000494  fourreau_non_existant   4.84007
2149     E000197           1  P000494  fourreau_non_existant   4.84007
2150     E000197           1  P000494  fourreau_non_existant   4.84007
2166     E000198           1  P000494  fourreau_non_existant   4.84007
2669     E000226           1  P000494  fourreau_non_existant   4.84007
2670     E000226           1  P000494  fourreau_non_existant   4.84007
2687     E000227           1  P000494  fourreau_non_existant   4.84007
2688     E000227           1  P000494  fourreau_non_existant   4.84007
2705     E000228           1  P000494  fourreau_non_existant   4.84007
2723     E000229           1  P000494  fourreau_non_existant   4.84007
3311     E000260           1  P000494  fourreau_non_existant   4.84007
3610     E000275           1  P000494  fourreau_non_existant   4.84007
4197     E000303           1  P000494  fourreau_non_existant   4.84007
4504     E000317           1  P000494  fourreau_non_existant   4.84007
4733     E000327           1  P000494  fourreau_non_existant   4.84007
5476     E000358           1  P000494  fourreau_non_existant   4.84007
5600     E000363           1  P000494  fourreau_non_existant   4.84007
5781     E000370           1  P000494  fourreau_non_existant   4.84007
5807     E000371           1  P000494  fourreau_non_existant   4.84007

In [357]:
diff_infra = non_existant_infra.groupby(['infra_id', 'longueur'])['nb_maisons'].agg('sum').reset_index()
diff_infra['difficule_infra'] = diff_infra['longueur'] / diff_infra['nb_maisons']
&
diff_infra

    infra_id   longueur  nb_maisons  difficule_infra
0    P000462   3.694776           3         1.231592
1    P000464   4.858753           4         1.214688
2    P000470   2.572249           6         0.428708
3    P000476   4.084845           8         0.510606
4    P000494   4.840070          19         0.254741
..       ...        ...         ...              ...
192  P008032  10.520975           7         1.502996
193  P008033  30.536827           8         3.817103
194  P008034  10.009903           1        10.009903
195  P008035  11.719759           4         2.929940
196  P008036   7.441760           1         7.441760

[197 rows x 4 columns]

In [351]:
resultat_jointure = pd.merge(diff_infra, non_existant_infra[['infra_id','id_batiment']], how='left', on='infra_id')
resultat_jointure

    infra_id   longueur  nb_maisons  difficule_infra id_batiment
0    P000462   3.694776           3         1.231592     E000363
1    P000462   3.694776           3         1.231592     E000370
2    P000462   3.694776           3         1.231592     E000371
3    P000464   4.858753           4         1.214688     E000358
4    P000464   4.858753           4         1.214688     E000363
..       ...        ...         ...              ...         ...
572  P008035  11.719759           4         2.929940     E000377
573  P008035  11.719759           4         2.929940     E000378
574  P008035  11.719759           4         2.929940     E000380
575  P008035  11.719759           4         2.929940     E000381
576  P008036   7.441760           1         7.441760     E000381

[577 rows x 5 columns]

In [355]:
diff_bati = resultat_jointure.groupby(['id_batiment'])['difficule_infra'].agg('sum').reset_index()
diff_bati = diff_bati.rename(columns={'difficule_infra': 'difficulte_batiment'})
diff_bati = diff_bati.sort_values(by=['difficulte_batiment'])
diff_bati

   id_batiment  difficulte_batiment
42     E000258             1.843508
43     E000259             1.843508
35     E000225             1.843508
31     E000196             1.843508
30     E000195             1.843508
..         ...                  ...
8      E000110            50.483821
22     E000177            52.746831
13     E000129            53.739723
28     E000193            53.861295
0      E000003            54.541389

[85 rows x 2 columns]

In [350]:
# while not diff_bati.empty:

In [368]:
import geopandas as gpd

# Read the shapefile
gdf = gpd.read_file("C:/Users/OMAR/Desktop/data/batiments.shp")

# Print the first few rows of the GeoDataFrame
gdf

0      POINT (531436.652 259655.507)
1      POINT (531445.663 259480.504)
2      POINT (531529.658 259588.506)
3      POINT (531217.642 259637.504)
4      POINT (531369.649 259611.505)
                   ...
376    POINT (531311.657 259531.507)
377    POINT (531305.644 259721.502)
378    POINT (531215.638 259747.509)
379    POINT (531507.660 259536.505)
380    POINT (531484.650 259466.197)
Name: geometry, Length: 381, dtype: geometry