In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('reseau_en_arbre.csv')

In [37]:
non_existant_infra.loc[df['infra_id']=='P007984','longueur'].count()

1

In [5]:
infra_type=df['infra_type'].drop_duplicates()
print(infra_type)

0         fourreau_existant
10    fourreau_non_existant
Name: infra_type, dtype: object

In [6]:
nb_maisons=df['nb_maisons'].drop_duplicates()
nb_maisons

0       4
4       1
3617    3
Name: nb_maisons, dtype: int64

In [7]:
df.describe()
print()

In [8]:
existant = df.loc[df['infra_type'] == 'fourreau_existant','id_batiment']
existant

0       E000001
1       E000001
2       E000001
3       E000001
4       E000002
         ...
6095    E000381
6096    E000381
6097    E000381
6098    E000381
6099    E000381
Name: id_batiment, Length: 5530, dtype: object

In [9]:
non_existant = df.loc[df['infra_type'] == 'fourreau_non_existant','id_batiment']
non_existant

10      E000003
11      E000003
12      E000003
465     E000067
466     E000067
         ...
6102    E000381
6103    E000381
6104    E000381
6105    E000381
6106    E000381
Name: id_batiment, Length: 577, dtype: object

In [10]:
existant_infra = df.loc[df['infra_type'] == 'fourreau_existant','infra_id']
existant_infra

0       P007111
1       P007983
2       P000308
3       P007819
4       P007111
         ...
6095    P000335
6096    P000211
6097    P000226
6098    P000023
6099    P000136
Name: infra_id, Length: 5530, dtype: object

In [11]:
non_existant_infra = df.loc[df['infra_type'] == 'fourreau_non_existant',['infra_id','id_batiment','longueur']]
non_existant_infra

     infra_id id_batiment   longueur
10    P007113     E000003  12.193509
11    P007984     E000003  30.057598
12    P007823     E000003  12.290283
465   P006193     E000067  12.186388
466   P002851     E000067  10.803202
...       ...         ...        ...
6102  P008032     E000381  10.520975
6103  P008035     E000381  11.719759
6104  P004234     E000381  13.484903
6105  P008036     E000381   7.441760
6106  P007459     E000381   9.865358

[577 rows x 3 columns]

In [33]:
non_existant_infra['longueur']/non_existant_infra[''].count()

10      12.193509
11      30.057598
12      12.290283
465     12.186388
466     10.803202
          ...
6102    10.520975
6103    11.719759
6104    13.484903
6105     7.441760
6106     9.865358
Name: longueur, Length: 577, dtype: float64

In [34]:
resultat = df['longueur'] / df.groupby('infra_id')['infra_id'].transform('count')

In [41]:
resultat

0        0.029745
1        0.937696
2        1.087244
3       17.390464
4        0.029745
          ...
6102     1.502996
6103     2.929940
6104     6.742452
6105     7.441760
6106     9.865358
Length: 6107, dtype: float64